@import url(https://fonts.googleapis.com/css?family=Sedan+SC);


* {
    text-align: center;
    font-family: 'Sedan SC';
}

body{
    background-color: #F1FFFA;
}

.datoscliente {
    width: 300px;
    background-color: #93B7BE;
    border: 1px solid #454545;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
  }
  
  .datoscliente h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .datoscliente input {
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #454545;
    border-radius: 5px;
  }
  
  .datoscliente button {
    width: 100%;
    height: 40px;
    background-color: #D5C7BC;
    color: #454545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .datoscliente button:hover {
    background-color: #D5C7BC;
  }






.boxes {
    width: 300px;
    background-color: #93B7BE;
    border: 1px solid #454545;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .boxes > h3 {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .boxes > h3[id="mostrar"] {

    margin-top: 1px;
    margin-bottom: 30px;
  }


  .boxes > button {
    height: 40px;
    margin-right: 25px; 
    margin-bottom: 20px;
    background-color: #D5C7BC;
    color: #454545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boxes > button:hover {
    background-color: #D5C7BC;
  }
  
  .boxes > input[type="number"] {
    width: 55%;
    height: 20px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #454545;
    border-radius: 5px;
  }