@import url(https://fonts.googleapis.com/css?family=Open+Sans);


*{
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(51, 55, 63);
    background-position: center;
}

h1{
    color: aliceblue;
}

button{
    color: white;
}

.body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

.picture-box {
    height: 300px;
    width: 300px;
    margin-top: 50px;
    margin-left: 27%;
    margin-right: auto;
}
